<!-- <!DOCTYPE html>
<html>
<head>
	<title>Create Feedback Form</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript">
		count = Number($("[name=added_field_count]").val());
		
		$("#add_field").onclick(function(){
			count++;
			newfield = $('<input type="text"/>');
			newfield.attr('name', 'added_field_'+ count);
			$("#myform").append(newfield);
			$("[name=added_field_count]").val(count);
		})
	</script>
</head>
<body>
	<form method=post action="." enctype="multipart/form-data">{% csrf_token %}
		<div id="myform">
		<table>
			{{form.as_p}}
		</table>
		</div>
		<button id="add_field">Add Question</button>
		<input type="submit" name="Submit" value="Submit">
	</form>
</body>
</html> -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<script src="{% static 'jquery.min.js'%}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

	<title>Create Feedback Form</title>

	<script type="text/javascript">
		$(document).ready(function(){
			var countrating = 0;
			var countsubjective = 0;
			$(".addrating").click(function(e){
				e.preventDefault();
				// var div = document.createElement()
				countrating = countrating + 1;
				var newfield = '<div class="form-group"><table class="table"><label for="text">Rating Question ' +(countrating)+ '</label><input type="text" class="form-control" name="question_'+(countrating)+'" placeholder="Question" max_length=100></table></div>';
				$("#myform").before(newfield);
				$("#countrating").val(countrating);
			})
			$(".addsubjective").click(function(e){
				e.preventDefault();
				// var div = document.createElement()
				countsubjective = countsubjective + 1;
				var newfield = '<div class="form-group"><table class="table"><label for="text">Subjective Question '+countsubjective+'</label><input type="text" class="form-control" name="question_'+(countsubjective)+'" placeholder="Question" max_length=100></table></div>';
				$("#myform").before(newfield);
				$("#countsubjective").val(countsubjective);
			})
		})
	</script>

</head>
<body>
	<div class="container">
		<div class="page-header">
			<ul class="nav nav-pills">
				<li class="active"><a data-toggle="pills" href="/logout/" >Logout</a></li>
				<li><a data-toggle="pills" href="/">Back</a></li>
			</ul>
		</div>
			<form method="POST" action=".">{% csrf_token %}
				<input type="hidden" name="countrating" value = 0 id = "count" value="">
				<input type="hidden" name="countsubjective" value = 0 id = "count" value="">
					<button class="btn btn-primary addrating" >Add Rating Question</button>
					<button class="btn btn-primary addsubjective" >Add Subjective Question</button>
					<button class="btn btn-primary" name="Submit" type="submit" value="Submit">Create Form</button>
				<div class="jumbotron">`						
					<div>
					<table class="table table-hover">
						{{form.as_table}}
					</table>
					</div>
					<div id="myform">
					</div>
				</div>
			</form>
	
	</div>
</body>
</html>




<!-- 
// varcount = 0;
		// function addfield(){
		// 	// count = Number($("[name=count]").val());
		// 	// count = $("#count").val();
		// 	count++;
		// 	newfield = $('<input type="text">');
		// 	countemp = count+1
		// 	newfield.attr('name', 'question_'+(countemp));
		// 	$("#myform").append(newfield);
		// 	$("name=count").val(count);
		// }
		var count = 0;
		function addfield(){
			var y = document.createElement("INPUT");
			// count = Number($("[name=count]").val())
			count++;
			y.setAttribute("type", "text");
			y.setAttribute("name", "question_" + (count+1))
			document.getElementById("myform").appendChild(y)
			document.getElementById("count").value = count
			// $("[name=count]").val(count);
		} -->