<!-- <!DOCTYPE html>
<html>
<head>
	<title>Welcome Admin!</title>
</head>
<body>
	<form method="post" action=".">{% csrf_token %}
		<table>
			{{ form.as_p}}
		</table>
		<input type="submit" value="Add Course" name="action">	
	</form>
	{% if courses %}
		<ul>
		{% for course in courses %}
			<li> {{course.code}} {{course.name}} </li>
		{% endfor %}
		</ul>
	{% endif %}

	<form method="post" action="." enctype="multipart/form-data">{% csrf_token %}
		<table>
			{{ formupload.as_p }}
		</table>
		<input type="submit" value="Upload" name="action">		
	</form>

	<ul>
		{% for course in courses %}
			<li>
			<ul>
				{% for feedback in course.feedback_set.all %}
					<li>
					<ul>	
						{% for ques in feedback.question_set.all %}
							<li> {{ques.q}}</li>
						{% endfor %}
					</ul>
					</li>
				{% endfor %}
			</ul>
			</li>
		{% endfor %}
	</ul>
	<a href='/adminlogout'> Logout </a>
</body>
</html> -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<script src="{% static 'jquery.min.js'%}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

	<title>Welcome Admin!</title>
</head>
<body>
	<div class="container">
		<div class="page-header">	
			<h1 align="center">Welcome Admin!</h1>
		</div>
		<div class="container" align="right">
			<a href="/adminlogout" class="btn btn-info" role="button" align="right">Logout</a>
		</div>
		<div class="container">
			<div class="jumbotron">
				<p>Add Courses</p>
				<form method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
					<table class="table table-hover">
						{{ form.as_table}}
					</table>
						<!-- <li> Specifications: CSV file containing LDAP of students to be registered </li>	 -->
					<!-- <br> -->
					<input class="btn btn-primary" type="submit" value="Add Course" name="action">	
				</form>
			</div>
		</div>
		<div class="container">
			<div class="jumbotron">
				<p>Existing Courses</p>
				{% if courses %}
					<ul>
					{% for course in courses %}
						<li> {{course.code}} {{course.name}} </li>
					{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
		<div class="container">
			<div class="jumbotron">
				<p>Enroll Students</p>
				<form method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
					<table>
						{{ formupload.as_p }}
					</table>
					<li> Specifications: CSV file containing LDAP, Name, Password of students in that order </li>		
					<br>
					<input class="btn btn-primary" type="submit" value="Upload" name="action">
				</form>
			</div>
		</div>
<!--
			<ul>
				{% for course in courses %}
					<li>
					<ul>
						{% for feedback in course.feedback_set.all %}
							<li>
							<ul>	
								{% for ques in feedback.question_set.all %}
									<li> {{ques.q}}</li>
								{% endfor %}
							</ul>
							</li>
						{% endfor %}
					</ul>
					</li>
				{% endfor %}
			</ul>
-->
			
</body>
</html>