<!-- <!DOCTYPE html>
<html>
<head>
	<title>Registration Successful</title>
</head>
<body>
	<h1>You have registered successfully</h1>
	<a href='/login'>Login Now</a>
	</body>
</html> -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<script src="{% static 'jquery.min.js'%}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	
	<title>Registration Successful</title>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1 align="center">Registration Successful</h1>
		</div>
		<div class ="jumbotron" style="background-color:white" >
			<div class="alert alert-success">
				<p align ="center">Congratulations! You are now registered!</p>
			</div>
			<div align ="center">
				<a href="/login/" class="btn btn-info" role="button">Login Now!</a>
			</div>
		</div>
	</div>
</body>
</html>